:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  box-sizing: border-box;
}

main > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 55rem;
  padding: var(--s2);
}






.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
}

.sidebar > :first-child {
  flex-grow: 1;
  flex-basis: 30rem;
}

.sidebar > :last-child {
  flex-grow: 1;
  min-inline-size: 10rem;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0);
  --threshold: 50rem;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.stack:first-of-type {
  min-height: 100vh;
}

.stack > :nth-child(4) {
  margin-block-end: auto;
}